body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6em;
}

.vis-block {
  width: 100%;
  height: 250px;
}

.paper {
  border:1px solid #ddd;
  width:700px;
  margin:20px auto;
  padding: 50px 40px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, .1)
}

.paper h1 {
  text-align:center;
  font-size:1.6em;
}

.paper h3 {
  text-align:center;
  font-style:italic;
  font-size:1.2em;
}

.paper section.abstract {
  margin: 40px 60px 40px 60px;
}


.paper footer {
  text-align:center;

}

.paper h4 {
  font-weight: bold;
}

.image {
  border: 1px solid #ddd;
  width:100%;
  height:160px;
  border-radius:4px;
  padding:4px;
}

.image div {
  background:#f0f0f0;
  width:100%;
  height:100%;
  font-style:italic;
  font-weight:bold;
  color: #ccc;
  position:relative;
}

.image div span {
  display: block;
  margin: auto auto;
  width: 80px;
  height: 30px;
  text-align:center;
  margin-top:-15px;
  top:50%;
  left:50%;
  margin-left:-40px;
  position:absolute;
}

.references {
  font-size:.8em;
}

.paper footer {
  margin-top:30px;
}

.paper .caption {
  text-align:center;
  margin-top:8px;
  margin-bottom:8px;
}

.paper .table {
  font-size: .8em;
}

.paper p {
  font-size:.9em;
}

.jumbotron {
  padding:10px 0px;
  padding-bottom:0px;
}

#examples {
  background: #ddd;
  height: 460px;
  margin-bottom: 2em;
  overflow: hidden;
  padding: 0;
  position: relative;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
}

#examples:after,
#examples:before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  background: white;
  height: 16px;
  z-index: 2;
}

#examples:before {
  bottom: -16px;
  box-shadow: 0px -8px 16px rgba(0,0,0,.3);
}

#examples:after {
  top: -16px;
  box-shadow: 0px 8px 16px rgba(0,0,0,.3);
}

#examples-deep {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

#examples svg,
#examples canvas {
  position: absolute;
}

.example-mesh {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}

.example-anchor path {
  fill: none;
  pointer-events: all;
}

.example-anchor path:hover {
  stroke: #000;
  stroke-width: 2px;
}

.detail {
  font-size: 15px
}

#footer {
  text-align:center;
  padding:20px;
  background:#eee;
}

.d3-tip .graph-node-author {
  font-size: 1.2em;
  font-weight: bold;
}

.d3-tip .graph-node-desc {
  font-size: 1em;
  font-weight: normal;
}

.d3-tip .graph-node-coauthor-list {
  font-size: 0.8em;
  font-weight: normal;
  line-height: 150%;
}

svg#conferenceMap path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}